.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 6px;

  button {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #0094ff;
    background: white;
    cursor: pointer;

    &.active {
      background: #0094ff;
      color: white;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
