.header {
  background: #177fb0;
  padding: 20px calc(23.8vw - 56px);


  .User{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
  }

  .btn-user {
    width: 155px;
    padding: 8px 20px;
    background-color: #0094ff;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #0094ff; 
    transition: all 0.2s ease;
    text-align: center;
      &:hover {
      background-color: #ffffff;  
      border-color: #0094ff;  
      border: 1px solid #0094ff;   
      color: #0094ff;     
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .btn-link {
    flex: 1;  
    width: 100px;
    padding: 8px 20px;
    
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #0094ff;
    transition: all 0.2s ease;
    text-align: center;

    &:hover {
      background-color: #0094ff;  
      border-color: #0094ff;          
    }

    &.active {
      background-color: #0094ff;
      color: white;
      border-color: #0094ff;   
    }
  }
  
}
