.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  &.fullscreen {
    position: fixed;
    inset: 0;
    background: #0b0f14; // фон под видео
    z-index: 9999;
  }
}

.loader-video {
  width: 160px;
  height: 160px;
  object-fit: contain;
}
