.table-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 200px;
  background: #2d73a7;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
span{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;

}
.table-row {
  display: grid;
  grid-template-columns: 1fr 200px;
  padding: 10px;
  background: #fff;

  &:nth-child(even) {
    background: #f2f2f2;
  }
}

.row-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.status {
  width: 100px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;

  &.done {
    background: #00c853;
    color: white;
  }

  &.progress {
    background: #ffb300;
    color: white;
  }
}
