.table-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 98px;
background: rgba(20, 20, 21, 0.9);
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
span{
    text-align: left;
    font-size: 18px;
  color: #fff;

}
.table-row {
  display: grid;
  grid-template-columns: 1fr 200px;
  padding: 10px;
background: rgba(20, 20, 21, 0.9);

  &:nth-child(even) {
    background: #333;
  }
}

.row-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.row-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.status-label {
  font-size: 12px;
  opacity: 0.6;
}

/* Статусы */
.status {
      display: flex;
    text-align: center;
    justify-content: center;
        width: 100%;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;

  &.done {

    background: rgba(0, 182, 159, 0.2);
    color: #00b69f;
  }

  &.progress {
    background: rgba(255, 184, 0, 0.2);
    color: #ffb800;
  }
}