.swiper {
  padding-top: 20px;
  padding-bottom: 40px;
}

.equipment-card {
  height: 100%;
  padding: 22px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(0, 182, 159, 0.35);
  border-radius: 22px;
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
    transition: all 0.5s ease;
    
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 24px;
    padding: 2px;
    background: linear-gradient(135deg, #00b69f, #00ffc3, #009688);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 182, 159, 0.25);

    &::before {
      opacity: 1;
    }

    img {
      transform: scale(1.05) ;
      transition: all 0.8s ease;
    }
  }
  h5 {
    font-size: 16px;
    height: 50px;
  }

  img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 15px;
    object-fit: cover;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
  }
}
.equipment-card p {
  display: -webkit-box;
  -webkit-line-clamp: 6; /* сколько строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Точки */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #00b69f;
}



.swiper-button-prev,
.swiper-button-next {
  
  color: #00b69f;
  width: 18px;
  height: 18px;
padding: 10px;
  background: rgba(0, 182, 159, 0.15);
  border-radius: 50%;
  backdrop-filter: blur(6px);

  transition: all 0.2s ease;

  &:hover {
    background: rgba(0, 182, 159, 0.35);
    transform: scale(1.05);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}
